/* Libre Baskerville */
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/LibreBaskerville-Regular.woff2') format('woff2'),
         url('../fonts/LibreBaskerville-Regular.woff') format('woff');
    font-display: swap; /* Para una mejor experiencia de carga */
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/LibreBaskerville-Bold.woff2') format('woff2'),
         url('../fonts/LibreBaskerville-Bold.woff') format('woff');
    font-display: swap;
}

/* Si usas itálicas o pesos intermedios de Libre Baskerville, añádelos aquí.
   Por ejemplo, si necesitas la versión Italic de 400:
@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/LibreBaskerville-Italic.woff2') format('woff2'),
         url('../fonts/LibreBaskerville-Italic.woff') format('woff');
    font-display: swap;
}
*/


/* Source Sans 3 */
@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SourceSans3-Regular.woff2') format('woff2'),
         url('../fonts/SourceSans3-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/SourceSans3-SemiBold.woff2') format('woff2'),
         url('../fonts/SourceSans3-SemiBold.woff') format('woff');
    font-display: swap;
}

/* Si usas itálicas o pesos intermedios de Source Sans 3, añádelos aquí.
   Por ejemplo, si necesitas la versión Italic de 400:
@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/SourceSans3-Italic.woff2') format('woff2'),
         url('../fonts/SourceSans3-Italic.woff') format('woff');
    font-display: swap;
}
*/